name: "test"
on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: npm
      - name: install dependencies
        run: |
          npm ci
      - name: build
        run: |
          npm run build
          npm run package
      - name: test
        run: |
          npm test

  check-permission:
    name: check permission
    runs-on: ubuntu-latest
    outputs:
      permission: ${{ steps.check.outputs.permission }}
    steps:
      - id: check
        uses: shogo82148/actions-check-permissions@b7c32c43a066d5752565f554c15c9ac4d6d63e3b # v1.0.4

  integrated:
    name: integrated test
    runs-on: ubuntu-latest
    needs:
      - check-permission
    if: needs.check-permission.outputs.permission == 'write'
    outputs:
      id: ${{ steps.create_release.outputs.id }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: npm
      - name: install dependencies
        run: |
          npm ci
      - name: build
        run: |
          npm run build
          npm run package

      - name: Create Release
        id: create_release
        uses: ./
        with:
          tag_name: test-${{ github.run_id }}
          release_name: Test for ${{ github.run_id }}
          prerelease: true
          commitish: releases/v1
          body: |
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          discussion_category_name: "CI: Integration testing"
          # generate release notes only on push events
          # because GitHub fails to generate the notes on merged commits.
          generate_release_notes: ${{ github.event_name == 'push' }}

  integrated-overwrite:
    name: integrated overwrite test
    runs-on: ubuntu-latest
    needs:
      - check-permission
      - integrated
    if: needs.check-permission.outputs.permission == 'write'
    outputs:
      id: ${{ steps.create_release.outputs.id }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: npm
      - name: install dependencies
        run: |
          npm ci
      - name: build
        run: |
          npm run build
          npm run package

      - name: Overwrite Release
        id: create_release
        uses: ./
        with:
          tag_name: test-${{ github.run_id }}
          release_name: Test for ${{ github.run_id }}
          prerelease: true
          commitish: releases/v1
          body: |
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          discussion_category_name: "CI: Integration testing"
          # generate release notes only on push events
          # because GitHub fails to generate the notes on merged commits.
          generate_release_notes: ${{ github.event_name == 'push' }}
          notes_start_tag: v1
          overwrite: true

  cleanup:
    if: always()
    name: cleanup
    runs-on: ubuntu-latest
    needs:
      - integrated
      - integrated-overwrite
    steps:
      - name: cleanup
        run: |
          gh api -X DELETE /repos/${{ github.repository }}/releases/${{ needs.integrated.outputs.id }} ||:
          gh api -X DELETE /repos/${{ github.repository }}/releases/${{ needs.integrated-overwrite.outputs.id }} ||:
          gh api -X DELETE /repos/${{ github.repository }}/git/refs/tags/test-${{ github.run_id }} ||:
        if: always()
        env:
          GH_TOKEN: ${{ github.token }}
